.peAccessWrap {
    background: var(--gray-18);
    height: 2.5rem;
    border-radius: 2.5rem;
    display: flex;
    padding: var(--spacing-xxs);
}
.pePill {
    height: 100%;
    color: var(--gray-80);
    font-size: 0.75rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    padding: 0 var(--spacing-s);
    cursor: pointer;
}
.peActive{
    background: var(--gray-1);
    color: var(--font-blue);
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
}
.offlineWrap{
    display: flex;
    align-items: center;
    background: #ffe599;
    color: var(--yellow-80);
    padding: var(--spacing-xxs) var(--spacing-xs);
    font-size: 0.75rem;
    font-weight: 400;
    margin-left: var(--spacing-s);
}
.onlineWrap{
    display: flex;
    align-items: center;
    padding: var(--spacing-xxs) var(--spacing-xs);
    background: var(--blue-11);
    color: var(--gray-17);
    font-size: 0.75rem;
    font-weight: 400;
    margin-left: var(--spacing-s);
    border: 0;
}
.errorWrap{
    background-color: var(--color-orange-100);
    color: var(--color-orange-800) !important;
}
.cloudIconDisabled{
    height: 1rem;
    color: var(--yellow-80);
    margin-right: var(--spacing-xxs);
}
.cloudIcon{
    height: 1rem;
    color: var(--blue-40);
    margin-right: var(--spacing-xxs);
}
.errorCloud{
    height: 1rem;
    color: var(--color-orange-800);
    margin-right: var(--spacing-xxs);
}
.peGroup {
    display: flex;
    align-items: center;
}
.peGrpBold {
    color: var(--gray-9);
    font-weight: 500;
    font-size: 1rem;
    margin-right: var(--spacing-xs);
}
.peTitle {
    color: var(--color-gray-600);
    font: var(--copy-s-regular);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 0;
    border-radius: 6px;
    padding: var(--spacing-2);
    box-shadow: none !important;
    transition: all 0.2s !important;
    box-sizing: border-box !important;
}
.peTitle:hover{
    border: 1.5px solid var(--color-gray-200) !important;
    border-right-width: 1.5px !important;
}
.peGroup .peTitleOnFocus{
    border: 1.5px solid var(--color-blue-500) !important;
    border-right-width: 1.5px !important;
}
